*{
	margin: 0px;
	padding: 0px;
}

.itensMenu{
	color: #0b6c3f;
	border-right: 1px solid #0b6c3f;
	font-size: 20px;
	padding-right: 25px;
	padding-left: 25px;
}

.ultimoItemMenu{
	border-right: none;
}

#menu{
	background-color: white;
}

#imagem_logo{
	width: 150px;
}

.menuLink{
	padding-left: 0px !important;
	padding-right: 0px !important;
}